*
{
    padding: 0;
    margin: 0;
}

body
{
    background-color: #f2f2f2;
    font-size: 20px;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container
{
    width: 90%;
    margin:auto;
}


.products .row
{
    flex-direction: column;
    gap: 60px;
}

.start-Product
{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 60px;
    border: 3px solid black;
    padding: 40px;
    border-radius: 10px;
    background-color: rgb(154, 125, 10);
}

.start-Product form
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}



.start-Product .name-Product , .description-Product , .price-Product
{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
}


.start-Product form input 
{
    padding: 10px;
    background-color: rgb(93, 109, 126);
    color: aliceblue;
}

.start-Product form label
{
    color:whitesmoke;
    font-weight: bold;
}

.start-Product button
{
    width: calc(50%);
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
    background-color: rgb(93, 109, 126);
    color: aliceblue;
}

.start-Product button:hover
{
    background-color: rgb(40, 55, 71);
}


.end-Product
{
    width: 30%;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(93, 109, 126);
    color: rgb(154, 125, 10);
    padding: 20px;
    
}

.end-Product table
{
    margin: auto;
    background-color: #f2f2f2;
    
}

.end-Product th 
{
    padding: 10px;
    text-align: center;
    
}

.end-Product td 
{
    color: black;
    padding: 10px;
    text-align: center;
}

.hidden
{
    display: none;
}